<script src="{{url_for('static',filename='js/jquery.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>

<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>

